version: "3.9"

services:
  postgis:
    image: postgis-arm:latest
    container_name: postgis
    restart: unless-stopped
    environment:
      POSTGRES_DB: gis
      POSTGRES_USER: gis
      POSTGRES_PASSWORD: gis
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgis:/var/lib/postgresql/data


